
.vps-title {
    position: absolute;
    top: -81px;
    left: 48px;
}

.vps-not-used {
    position: absolute;
    top: 223px;
    left: 107px;
}

.vps-title {
    position: absolute;
    top: 12px;
    left: 47px;
    text-align: center;
}

.l1vestack-title {
    position: absolute;
    top: 13px;
    right: 40px;
    text-align: center;
}

.vps-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.l1vestack-img {
    position: absolute;
    bottom: 0;
    left: 320px;
}

.vps-app {
    bottom: 153px;
    left: 119px;
    color: #C487C9;
}

.vps-software {
    bottom: 77px;
    left: 128px;
    color: #C487C9;
}

.vps-os {
    bottom: 10px;
    left: 158px;
    color: #C487C9;
}

.vps_common {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
}


.l1vestack-software {
    bottom: 36px;
    right: 85px;
    color: #6AB5A1;
    position: absolute;
}

.l1vestack-os {
    bottom: 1px;
    right: 114px;
    color: #6AB5A1;
    position: absolute;
}