@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap');

:root {
  --color-background: #f5f5f9;
  --color-scrollbar: rgb(224, 224, 224);
  --color-scrollbar-hover: #bbb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-background);
  border-radius: 10px;
}

body {
  /* background-color: var(--color-background); */
  background-color: '#ffffff';
}

/*//// //////////////////////////////////////// */

.h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 66px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subtitlereg_18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subtitlereg_20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.subtitlereg_28 {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}



.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}
